@import "vars";
@import "menu";

.header {
  font-family: $fontRoboto;
  &__head {
    background-color: $headerHeadBg;
  }

  &__button {
    float: right;
    line-height: 36px;
    background-color: $alterBgColor;
    color: $headerTextButton;
    font-size: 16px;
    padding: 5px 20px 4px 50px;
    position: relative;
    &::before {
      content: "\f0b1";
      font-family: 'icomoon', serif;
      position: absolute;
      left: 22px;
      color: $headerTextButton;
    }


    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }

  &__link {
    color: $headerTextLink;
    line-height: 45px;

    &--tel {
      padding-left: 20px;
      padding-right: 30px;
      position: relative;
      &::before {
        content: "\f095";
        font-family: 'icomoon', serif;
        position: absolute;
        left: 0;
        color: $alterBgColor;
      }
    }

    &--email {
      padding-left: 24px;
      position: relative;
      &::before {
        content: "\f003";
        font-family: 'icomoon', serif;
        position: absolute;
        left: 0;
        color: $alterBgColor;
      }
    }
  }

  &__body {
    padding: 32px 0px 23px;
  }

  &__content-inner {
    display: flex;
    justify-content: space-between;
  }
}
