$fontRoboto: 'Roboto', sans-serif;
$fontPt: 'PT Serif', serif;
$text: #5e5e5e;
$bgColor: #24292e;
$headerHeadBg: #303030;
$headerTextButton: #1b1b1b;
$headerTextLink: #cbcacb;
$alterBgColor: #ffc222;
$headerLinkColor: #323232;
